pkgbase = redragon-m916-suite-bin
	pkgdesc = High-performance gaming mouse management suite for Redragon M916-PRO 1K
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/MarkOne-dev/redragon-drive
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = openssl
	depends = libappindicator-gtk3
	provides = redragon-m916-suite
	provides = redragon-app
	conflicts = redragon-m916-suite
	source = https://github.com/MarkOne-dev/redragon-drive/releases/download/v0.3.0/Redragon%20M916%20Suite_0.3.0_amd64.deb
	sha256sums = 042faacc6492a3be03dede36362ec755be404f37c9c13a5ffbffad23cb856463

pkgname = redragon-m916-suite-bin
